<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body ">
                    <h3 class="pt-3 font-weight-bold">პაროლის შეცვლა</h3>
                    <form [formGroup]="resetPasswordForm">
                        <div class="form-group pt-4">
                            <label for="password">შეიყვანეთ ახალი პაროლი</label>
                            <input type="password" class="form-control" formControlName="password"
                                >
                            <small class="text-danger"
                                *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.hasError('required')">
                                *password is required
                            </small>
                        </div>
                        <div class="form-group pt-3">
                            <label for="confirmPassword">გაიმეორეთ პაროლი</label>
                            <input type="password" class="form-control" formControlName="confirmPassword" >
                            <small class="text-danger"
                                *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.hasError('required')">
                                *confirm Password is required
                            </small>
                           
                        </div>
                        
                        <button (click)="reset()" [disabled]="resetPasswordForm.invalid"
                            class="btn enter mb-3">შეცვლა</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>