<footer class=" text-light">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-1">
          <img width="80px" [src]="logo" alt="Logo" class="footer-logo mb-2">
          <span class="logo-text">კლინიკა</span>
        </div>
        <div class="col-md-3">
          <h5>ინფორმაცია</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">ჩვენს შესახებ</a></li>
            <li><a href="#" class="text-light">პარტნიორები</a></li>
            <li><a href="#" class="text-light">ექიმებისთვის</a></li>
            <li><a href="#" class="text-light">კლნიკებისთვის</a></li>
            <li><a href="#" class="text-light">აფთიაქებისთვის</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>პაციენტებისთვის</h5>
          <ul class="list-unstyled">
          <li><a href="#" class="text-light">ექიმები</a></li>
            <li><a href="#" class="text-light">კლინიკები</a></li>
            <li><a href="#" class="text-light">ანოტაციები</a></li>
            <li><a href="#" class="text-light">ბლოგი</a></li>
            <li><a href="#" class="text-light">მედია</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h5>კონტაქტი</h5>
          <p>სამუშაო დღეები : ორშ - პარ</p>
          <p>სამუშაო დრო : 9:00 - 17:00</p>
          <p>იაკობ ნიკოლაძე N10</p>
          <p>0 32 2 100 100</p>
        </div>

        <div class="col-md-2">
          <h5>გამოგვყევით</h5>
          <ul class="list-unstyled">
            <li> <a href="https://facebook.com" class="text-light me-2">Facebook</a></li>
            <li> <a href="https://instagram.com" class="text-light me-2">Instagram</a></li>
            <li><a href="https://youtube.com" class="text-light">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </footer>
  <div class=" py-2">
    <p class="mb-0">  &copy;  COPYRIGHT INFO</p>
  </div>